.font-inter {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
}

.font-16 {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    border: 1px solid black;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    max-height: 92px;
}

.logo {
    margin: auto 0;
}

.logo img{
    width: 139px;
    height: 60px;
    /*margin: auto 0;*/
}

.menu ul {
    display: flex;
    gap: 32px;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.btn {
    color: #FFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    background-color: #30B868;
    border: 2px solid #30B868;
    border-radius: 4px;
}

.btn:hover {
    background-color: #30B800;
    border: 2px solid #30B800;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}