.font-inter {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
}

.font-16 {
    font-size: 16px;
}

.font-48 {
    font-size: 48px;
    font-weight: bold;
}

.color-primary {
    color: #30B868;
}

.color-gray {
    color: #627382;
}

.color-white {
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    border: 1px solid black;
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    max-height: 92px;
}

.logo {
    margin: auto 0;
}

.logo img{
    width: 139px;
    height: 60px;
    /*margin: auto 0;*/
}

.menu ul {
    display: flex;
    gap: 32px;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.btn {
    color: #FFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    background-color: #30B868;
    border: 2px solid #30B868;
    border-radius: 4px;
}

.btn:hover {
    background-color: #30B800;
    border: 2px solid #30B800;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#banner {
    background-image: url(../assets/hero-bg.png);
}

#banner .container{
    padding-top: 115px;
    padding-bottom: 170px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.early-access {
    display: inline-block;
    padding: 8px 12px;
    background-color: #FFFF;
    border-radius: 1000px;
}

.title {
    padding-top: 16px;
    padding-bottom: 16px;
}

.title h1 {
    font-size: 72px;
}

.sub-title p {
    font-size: 18px;
    line-height: 24px;
}

#how-works {
    background-color: transparent;
    border: 1px solid #FFFF;
    color: #FFFF;
}

#notes .container {
    text-align: center;
}

#notes .container h2{
    margin-top: 70px;
    margin-bottom: 16px;
}

.notes-group {
    padding-top: 44px;
    display: flex;
    gap: 24px
}

.note {
    text-align: center;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
    padding: 24px;
    border-radius: 8px;
}

.note-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
}

.note-icon img {
    margin: auto;
    padding: 0;
}

.note h4 {
    font-size: 24px;
    font-weight: 600;
}